
.background {

    background-color: #808080;
    width: 600px;
    height: 1000px;
    
}

h1 {
    color:rgb(255, 255, 255);
    margin-left: 50px;
}

.box {
    width:200px;
    height: 200px;
    background-color: #fea500;
    margin-left: 50px;
}
